    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Endereço Encontrado</h1>

        {% if endereco %}
            <ul>
                <li><strong>CEP: </strong> {{ endereco.cep }}</li>
                <li><strong>Rua: </strong> {{ endereco.rua }}</li>
                <li><strong>Bairro: </strong> {{ endereco.bairro }}</li>
                <li><strong>Cidade: </strong> {{ endereco.cidade }}</li>
                <li><strong>Estado: </strong> {{ endereco.estado}}</li>
            </ul>
        {% else %}
            <p>Nenhum endereço encontrado para o CEP informado.</p>
        {% endif %}

        <a href="{% url 'base' %}">Consultar outro CEP</a>
    </body>
    </html>